ppl_DataIngestion.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "GET",
          "headers": {}
        },
        "externalReferences": {
          "connection": "79c1893e-efcf-493c-8397-801950bcf22d"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Web1",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "ppl_var_restresponse",
          "value": {
            "value": "@{activity('Web1').output}",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set variable1",
        "dependsOn": [
          {
            "activity": "Web1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "additionalColumns": [
              {
                "name": "json_output",
                "value": {
                  "value": "@variables('ppl_var_restresponse')",
                  "type": "Expression"
                }
              }
            ],
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "staging",
                  "fileName": "job1_completed.txt"
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": false
              },
              "schema": [],
              "linkedService": {
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "dcda1d67-81d2-4057-ba0b-96f5c27a7565",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                },
                "name": "LS_JsonOutput"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "output",
                  "fileName": "data.json"
                },
                "columnDelimiter": ",",
                "quoteChar": "",
                "escapeChar": "",
                "firstRowAsHeader": false
              },
              "schema": [],
              "linkedService": {
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "dcda1d67-81d2-4057-ba0b-96f5c27a7565",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                },
                "name": "LS_JsonOutput"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "json_output",
                  "type": "String"
                },
                "sink": {
                  "type": "String",
                  "physicalType": "String",
                  "ordinal": 1
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data1",
        "dependsOn": [
          {
            "activity": "Set variable1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "ppl_var_restresponse": {
        "type": "String"
      }
    }
  }
}